:vars {
    --red1: rgb(229, 116, 116);
    --red2: rgb(239, 126, 126);
    --blue1: rgb(103, 176, 232);
    --blue2: rgb(45, 53, 59);
    --green1: rgb(140, 207, 126);
    --green2: rgb(150, 217, 136);
    --yellow1: rgb(229, 199, 107);
    --yellow2: rgb(244, 214, 122);
    --purple1: rgb(196, 127, 213);
    --purple2: rgb(206, 137, 223);
    --bg1: rgb(20, 27, 30);
    --bg2: rgb(20, 27, 30);
    --fg1: rgb(236, 239, 244);
    --fg2: rgb(218, 218, 218);
    --fg-dark1: rgb(122, 132, 120);
    --fg-dark2: rgb(157, 169, 160);
    --base1: rgb(45, 53, 59);
    --base2: rgb(45, 52, 55);
    --shadow: mix(var(--bg1), #000000, 0.5);
    --glow: lighter(var(--fg1));
}
