:vars {
    --red1: rgb(237, 135, 150);
    --red2: rgb(245, 169, 127);
    --blue1: rgb(73, 77, 100);
    --blue2: rgb(91, 96, 120);
    --green1: rgb(73, 77, 100);
    --green2: rgb(91, 96, 120);
    --yellow1: rgb(245, 169, 127);
    --yellow2: rgb(238, 212, 159);
    --purple1: rgb(198, 160, 246);
    --purple2: rgb(237, 135, 150);
    --bg1: rgb(24, 25, 38);
    --bg2: rgb(30, 32, 48);
    --fg1: rgb(244, 219, 214);
    --fg2: rgb(202, 211, 245);
    --fg-dark1: rgb(110, 115, 141);
    --fg-dark2: rgb(128, 135, 162);
    --base1: rgb(54, 58, 79);
    --base2: rgb(36, 39, 58);
    --shadow: mix(var(--bg1), #000000, 0.5);
    --glow: lighter(var(--fg1));
}
