:vars {
    --fg1: #181926;
    --fg2: #1e2030;
    --fg-dark1: #181926;
    --fg-dark2: #1e2030;
    --bg1: #cad3f5;
    --bg2: #b7bdf8;
    --base1: #363a4f;
    --base2: #24273a;
    --blue1: #8aadf4;
    --blue2: #7dc4e4;
    --red1: #ed8796;
    --red2: #ee99a0;
    --green1: #a6da95;
    --green2: #8bd5ca;
    --yellow1: #eed49f;
    --yellow2: #f5a97f;
    --purple1: #c6a0f6;
    --purple2: #ed8796;
    --shadow1: #181926;
    --shadow2: #1e2030;
    --glow1: #cad3f5;
    --glow2: #f4dbd6;
    --shadow: mix(var(--bg1), #000000, 0.5);
    --glow: lighter(var(--fg1));
}
