:vars {
    --bg1: #141b1e;
    --bg2: #232a2d;
    --fg1: #dadada;
    --fg2: #eceff4;
    --fg-dark1: #7a8478;
    --fg-dark2: #859289;
    --base1: #2d353b;
    --base2: #343f44;
    --blue1: #71baf2;
    --blue2: #67b0e8;
    --red1: #e67e80;
    --red2: #ef7e7e;
    --green1: #96d988;
    --green2: #a7c080;
    --yellow1: #dbbc7f;
    --yellow2: #f4d67a;
    --shadow1: #141b1e;
    --shadow2: #232a2d;
    --glow1: #eceff4;
    --glow2: #dadada;
    --shadow: mix(var(--bg1), #000000, 0.5);
    --glow: lighter(var(--fg1));
}
