:vars {
    --bg1: rgb(35, 42, 46);
    --bg2: rgb(35, 42, 46);
    --fg1: rgb(211, 198, 170);
    --fg2: rgb(211, 198, 170);
    --fg-dark1: rgb(122, 132, 120);
    --fg-dark2: rgb(122, 132, 120);
    --base1: rgb(45, 53, 59);
    --base2: rgb(45, 53, 59);
    --blue1: rgb(127, 187, 179);
    --blue2: rgb(127, 187, 179);
    --red1: rgb(230, 126, 128);
    --red2: rgb(230, 126, 128);
    --green1: rgb(167, 192, 128);
    --green2: rgb(167, 192, 128);
    --yellow1: rgb(219, 188, 127);
    --yellow2: rgb(219, 188, 127);
    --shadow1: rgb(35, 42, 46);
    --shadow2: rgb(35, 42, 46);
    --glow1: rgb(211, 198, 170);
    --glow2: rgb(211, 198, 170);
    --shadow: mix(var(--bg1), #000000, 0.5);
    --glow: lighter(var(--fg1));
}