:vars {
    --bg1: #1e1f22;
    --bg2: #282828;
    --fg1: #d4c4a0;
    --fg2: #ebdbb3;
    --fg-dark1: #928374;
    --fg-dark2: #7c6f64;
    --base1: #32302f;
    --base2: #3c3836;
    --blue1: #84a598;
    --blue2: #d2869b;
    --red1: #d2869b;
    --red2: #a89984;
    --green1: #8fc07d;
    --green2: #d4c4a0;
    --yellow1: #d4c4a0;
    --yellow2: #ebdbb3;
    --purple1: #b16387;
    --purple2: #d2869b;
    --shadow1: #1e1f22;
    --shadow2: #282828;
    --glow1: #fcf1c6;
    --glow2: #ebdbb3;
    --shadow: mix(var(--bg1), #000000, 0.5);
    --glow: lighter(var(--fg1));
}
