:vars {
    --bg1: #2e3440;
    --bg2: #2e3440;
    --fg1: #d8dee9;
    --fg2: #d8dee9;
    --fg-dark1: #5e81ac;
    --fg-dark2: #5e81ac;
    --base1: #2e3440;
    --base2: #2e3440;
    --blue1: #88c0d0;
    --blue2: #88c0d0;
    --red1: #d08770;
    --red2: #d08770;
    --green1: #a3be8c;
    --green2: #a3be8c;
    --yellow1: #ebcb8b;
    --yellow2: #ebcb8b;
    --purple1: #b48ead;
    --purple2: #b48ead;
    --shadow1: #2e3440;
    --shadow2: #2e3440;
    --glow1: #e5e9f0;
    --glow2: #e5e9f0;
    --shadow: mix(var(--bg1), #000000, 0.5);
    --glow: lighter(var(--fg1));
}
