:vars {
    --bg1: #15161e;
    --bg2: #15161e;
    --fg1: #c8d3f5;
    --fg2: #c8d3f5;
    --fg-dark1: #828bb8;
    --fg-dark2: #444a73;
    --base1: #283457;
    --base2: #222436;
    --blue1: #82aaff;
    --blue2: #82aaff;
    --red1: #f7768e;
    --red2: #f7768e;
    --green1: #9ece6a;
    --green2: #9ece6a;
    --yellow1: #ffc777;
    --yellow2: #ffc777;
    --purple1: #f7768e;
    --purple2: #f7768e;
    --shadow1: #15161e;
    --shadow2: #15161e;
    --glow1: #c8d3f5;
    --glow2: #c8d3f5;
    --shadow: mix(var(--bg1), #000000, 0.5);
    --glow: lighter(var(--fg1));
}
