@import url("./current_theme.css");

* {
    color: @base05;
    font-size: 14px;
}

button:hover label,
#button-icon:hover label,
#utils-notebook tabs tab:hover label {
    color: mix(@base08, #ff0000, 0.2);
    text-shadow: 1px 1px 6px @base08;
}

#window {
    background-color: @base00;
    padding: 18px 8px;
    border-radius: 16px;
}

#outer-box {
    background-color: @base01;
    padding: 8px;
    margin: -6px 4px;
    border-radius: 8px;
}

#profile-pic {
    border-radius: 4px;
    border: solid 1px @base04;
    margin: 2px 12px;
}

.username {
    font-size: 20px;
    color: @base05;
}

.date {
    color: @base0B;
}

.uptime {
    color: @base0E;
}

#button-icon label {
    background-size: 400%;
    background-color: transparent;
    font-size: 33px;
    color: @base04;
    margin: 0 9px;
}

#scale-control {
    background-color: mix(@base00, @base05, 0.2);
    padding: 3px 0;
    border-radius: 20px;
    margin: 6px 12px;
}
#scale-control slider {
    background-color: mix(@base0D, @base00, 0.2);
    border-radius: 100%;
    box-shadow: 0px 1px 6px @base00;
    min-height: 18px;
    min-width: 18px;
}
#scale-control label {
    color: @base0D;
    font-size: 18px;
    margin: 0 12px;
}
#scale-control scale trough {
    background-color: @base00;
    border-radius: 8px;
    margin: 3px 6px;
}
#scale-control scale trough highlight {
    background-color: @base0D;
    border-radius: 8px 0 0 8px;
}
#audio-sinks-widget label {
    font-size: 14px;
}
#audio-sinks-widget combobox {
    background-color: mix(@base00, #000000, 0.7);
    border-radius: 6px;
}

#media scale {
    background-color: alpha(@base00, 0.8);
    padding: 3px 0;
    border-radius: 100px;
    margin: 3px 12px;
}
#media scale trough highlight {
    background-color: @base09;
    padding: 3px 0;
    border-radius: 100px;
}

#player-art {
    background-color: darker(@base00);
    border-radius: 6px;
    border: solid 1px @base05;
    margin: 8px;
    min-width: 72px;
    min-height: 72px;
}
#media .artist {
    color: @base05;
}
#media .title {
    color: @base07;
}

#media .timestamp {
    color: @base04;
    font-size: 10px;
}

#media .control-button label {
    font-size: 24px;
    color: @base07;
}

#hw-mon {
    min-height: 28px;
}
#hw-mon #hwmon-item.green #circular-bar {
    background-color: @base00;
    color: darker(@base00);
    border-color: @base0C;
}
#hw-mon #hwmon-item.green label {
    color: @base0C;
}

#hw-mon #hwmon-item.blue #circular-bar {
    background-color: @base00;
    color: darker(@base00);
    border-color: @base0D;
}
#hw-mon #hwmon-item.blue label {
    color: @base0D;
}

#hw-mon #hwmon-item.red #circular-bar {
    background-color: @base00;
    color: darker(@base00);
    border-color: @base08;
}
#hw-mon #hwmon-item.red label {
    color: @base08;
}

#hw-mon #hwmon-item.yellow #circular-bar {
    background-color: @base00;
    color: darker(@base00);
    border-color: @base0E;
}
#hw-mon #hwmon-item.yellow label {
    color: @base0E;
}

#hw-mon #hwmon-item #circular-bar {
    background-color: @base00;
    color: darker(@base00);
    border-color: @base0D;
}
#hw-mon #hwmon-item label {
    color: @base0D;
}

#utils-notebook tabs tab {
    background-color: @base01;
    padding: 6px 18px 6px 12px;
    border-radius: 6px 6px 0 0;
}

#utils-notebook tabs tab:checked {
    background-color: @base00;
}
#utils-notebook tabs tab:checked label {
    color: @base09;
}
#utils-notebook box {
    background-color: @base00;
    border-radius: 6px;
    border-top-left-radius: 0;
}
#todos,
#reminders,
#timer,
#pins {
    padding: 12px;
}
#todos .completed {
    color: @base03;
}
#todos .P1 {
    color: @base08;
}
#todos .P2 {
    color: @base0A;
}
#todos .P3 {
    color: @base0D;
}
#todos .P4 {
    color: @base0C;
}

#todos .category0 {
    color: @base09;
}
#todos .category1 {
    color: @base0B;
}
#todos .category2 {
    color: @base0E;
}
#todos .category3 {
    color: @base0F;
}
#todos .category4 {
    color: @base06;
}
#timer button {
    padding: 0 12px;
}
#timer button:insensitive label {
    color: @base01;
}
#timer #time-label label {
    font-size: 36px;
    color: @base09;
}
checkbutton {
    background-color: lighter(@base00);
    border-radius: 6px;
    min-width: 18px;
}

#utils-notebook scrolledwindow {
    background-color: darker(@base00);
}
#pins scrolledwindow {
    padding: 12px;
}
#pin-cell box {
    border-radius: 6px;
    border: solid 1px @base02;
    background-color: @base00;
    min-height: 64px;
}
#pins label {
    font-size: 12px;
}
#network-big-button {
    padding: 6px 12px;
    border-radius: 24px;
    background-color: @base02;
    margin: 0 6px;
}
#bluetooth-menu,
#wifi-menu {
    background-color: @base00;
    border-radius: 6px;
    padding: 12px;
}
list row {
	border-radius: 12px;
}
list row:selected {
	background-color: @base0E;
}
list row:selected label {
	color: @base01;
}
switch {
    all: unset;
    background-color: @base02;
    border-radius: 12px;
}
switch slider {
    background-color: @base04;
    border-radius: 5px;
}

#bar {
    background-color: @base00;
    padding: 0px 6px;
    border-radius: 18px;
}
#bar #bar-icon label {
    font-size: 18px;
}
#bar #bar-icon:hover label {
    color: @base08;
    text-shadow: 1px 1px 6px @base09;
}
#bar label {
    color: @base05;
    text-shadow: 1px 1px 6px @base0B;
}
#bar box {
    border-radius: 100%;
    background-color: @base00;
}
#bar #workspaces {
    border-radius: 6px;
    background-color: @base01;
    padding: 0 8px;
}
#bar #workspaces button label {
    font-size: 20px;
}
#bar #workspaces button:hover label {
    color: @base09;
    text-shadow: 1px 1px 6px @base09;
}
#bar #workspaces button.urgent label {
    color: mix(@base08, @base0E, 0.9);
}
#bar #workspaces button.active label {
    color: mix(@base08, @base05, 0.5);
}
#bar #workspaces button.empty label {
    color: @base03;
}
#bar .bar-clock label {
    font-size: 18px;
    background-color: @base01;
    border-radius: 6px;
    padding: 6px;
}

#bar #battery #circular-bar {
    background-color: @base00;
    color: darker(@base00);
    border-color: @base0C;
}
#bar #battery {
    margin: 6px 0;
}
#bar #battery label {
    color: @base0C;
}
#bar #system-tray {
    border-radius: 6px;
    background-color: @base01;
    padding: 12px 6px;
}
#bar #system-tray * {
    all: unset;
}
#bar #system-tray button {
    margin: 3px 2px;
}
menu {
    border: solid 2px;
    border-radius: 10px;
    border-color: @base02;
    background-color: @base00;
    margin: 1px 0;
    padding: 6px;
}
menu > menuitem label {
    border-radius: 4px;
}
menu > menuitem:hover label {
    background-color: @base08;
    color: @base00;
}

#osd-container {
    background-color: @base00;
    padding: 10px 5px;
    border-radius: 24px;
}
#osd-container scale {
    background-color: darker(@base00);
    padding: 2px 0;
    border-radius: 100%;
    margin: 6px 12px;
}
#osd-container scale slider {
    min-height: 18px;
    min-width: 18px;
}
#osd-container scale trough {
    background-color: darker(@base00);
    border-radius: 8px;
}
#osd-container scale trough highlight {
    all: unset;
    background-color: @base0B;
    border-radius: 8px;
}
#osd-container label {
    margin: 0 18px 0 12px;
    color: @base0B;
}

#popup-window {
    background-color: @base00;
    border-radius: 12px;
    border: solid 1px @base05;
}
#popup-window box {
    margin: 6px;
}
#popup-window label {
    font-size: 18px;
}

calendar {
    padding: 6px;
}
}
